<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>Globers Mood</title>
</head>
<style>
    html {
        height: 100%;
    }
</style>
<body style="font-family: Arial, sans-serif; height: 100%;">
<div style="position: relative; height: 100%; font-size: 14px; color: rgb(79,79,79);">
    <div align="center" style="bottom: 0; height: 70px; left: 0; margin: auto; position: absolute;
            right: 0; top: 0; width: 500px;">
        <table cellpadding="0" cellspacing="0">
            <tr>
                <td valign="middle" style="color: #c1d72e; font-size: 50px; font-family: 'Trebuchet MS';">
                    :
                </td>
                <td valign="middle" style="padding-right: 10px; font-size: 50px; font-family: 'Trebuchet MS';">
                    )
                </td>
                <td valign="middle" style="padding-top: 5px;">
                    <strong>Thanks</strong> for your feedback.
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>
